<!-- Application Bar -->
<div class="e_app_bar">
  <!-- Application Bar Left Part -->
  <div class="e_app_bar_left">
    <div class="e_main_nav_menu">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="menu"
        class="e_main_nav_menu_icon"
      ></mat-icon>
    </div>
    <div class="e_brand_logo">
      <img src="../../assets/eModal-Logo.svg" alt="eModal Brand Logo" />
    </div>
    <p class="e_app_title">Application Title</p>
  </div>

  <!-- Application Bar Right Part -->

  <div class="e_app_bar_right">
    <!-- User Icon on right -->
    <div class="e_app_bar_user_icon">
      <mat-icon
        aria-hidden="false"
        aria-label="shopping cart Icon"
        fontIcon="shopping_cart"
        class="e_user_icon"
      ></mat-icon>
    </div>
    <!-- User Icon on right -->
    <div class="e_app_bar_user_icon">
      <mat-icon
        aria-hidden="false"
        aria-label="Notifications Icon"
        fontIcon="notifications"
        class="e_user_icon"
      ></mat-icon>
    </div>
    <!-- User Icon on right -->
    <div class="e_app_bar_user_icon">
      <mat-icon
        aria-hidden="false"
        aria-label="Settings icon"
        fontIcon="settings"
        class="e_user_icon"
      ></mat-icon>
    </div>
    <!-- User Icon on right -->
    <div class="e_app_bar_user_icon">
      <mat-icon
        aria-hidden="false"
        aria-label="Help icon"
        fontIcon="help_circle"
        class="e_user_icon"
      ></mat-icon>
    </div>
    <!-- User Icon on right -->
    <div class="e_app_bar_user_icon">
      <mat-icon
        aria-hidden="false"
        aria-label="User Account icon"
        fontIcon="account_circle"
        class="e_user_icon"
      ></mat-icon>
    </div>
  </div>
</div>

<!-- Actions Bar -->

<div class="e_actions_bar">
  <!-- Actions Bar Left Part -->
  <div class="e_actions_bar_left_part">
    <p class="e_page_title">Page Title</p>
  </div>

  <!-- Actions Bar Right Part -->
  <div class="e_actions_bar_right_part">
    <div class="e_actions_bar_icon">
      <img src="../../assets/PDF-Icon.svg" alt="PDF Icon" />
    </div>
    <div class="e_actions_bar_customize_view">
      <div class="e_actions_bar_customize_view_icon_left">
        <mat-icon
          aria-hidden="false"
          aria-label="User Account icon"
          fontIcon="desktop_windows"
          class="e_actions_bar_icon_color"
        ></mat-icon>
      </div>
      <div class="e_actions_bar_customize_view_drop_down">
        <p class="e_drop_down_label">Saved Views</p>
        <div class="e_actionsbar_dropdown_icon">
          <mat-icon
            aria-hidden="false"
            aria-label="User Account icon"
            fontIcon="arrow_drop_down"
            class="e_actions_bar_icon_color"
          ></mat-icon>
        </div>
      </div>
      <div class="e_actions_bar_customize_view_icon_right">
        <mat-icon
          aria-hidden="false"
          aria-label="User Account icon"
          fontIcon="save"
          class="e_actions_bar_icon_color"
        ></mat-icon>
      </div>
    </div>
  </div>
</div>
